<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}QR Code Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class'
        }
    </script>
</head>
<body class="bg-gray-100 dark:bg-gray-900 transition-colors">
    <!-- Navbar -->
    <nav class="p-4 flex justify-between items-center bg-white dark:bg-gray-800 shadow-md">
        <h1 class="text-xl font-bold text-gray-900 dark:text-white">{% block text %}{% endblock %} QR Code Generator</h1>
        <button onclick="toggleDarkMode()" class="px-4 py-2 bg-gray-800 text-white dark:bg-white rounded-md dark:text-gray-800 semi-bold">Dark/Light</button>
    </nav>
    {% block body %}
    
    {% endblock %}
    <!-- Footer -->
    <footer class="mt-6 p-4 text-center bg-white dark:bg-gray-800 text-gray-600 dark:text-white">
        © 2025 QR Generator. All rights reserved.
    </footer>
<script src="{{url_for('static', filename='../static/js/app.js')}}"></script>
</body>
</html>